/* style.css */
html{
	box-sizing: border-box;

	height: 100%;
}

body{
	background-color: #FFFA94;
	font-family: impact;
	font-size: 118%;
	box-sizing: content-box; 

	width: 100%;
	margin: 0%;
}

#header{
	background-color: #777;
	box-sizing: border-box;

	height: 7%;
	width: 100%
}

#login{
	padding-top: 1%;
	margin-right: 3%;
}
#login a{
	float: right;
	color: white;
	text-decoration: none;

	margin-right: 2%;
}
#login a:hover{
	color: #FF3399;
}

#banner{
	box-sizing: border-box;
	border: 1px solid;
	
	width: 93%;
	height: 45%;
	position: relative;
	margin: auto;
	margin-right: 3%;
	margin-left: 2.9%;
}

#bff{
	position: absolute;
	font-size: 260%;
	color: #FF0F6E;

	top: 46%;
	left: 30%;
	margin: 0%;
	text-align: center;
}

#navigator{
	background-color: #47B294;


	width: 93%;
	margin-left: 2.9%;
}
#navigator ul{
	line-height: 300%;

	width: 70%;
	height: 7.9%;
	margin: 0%;
	margin-left: 15%;
}
#navigator ul li{
	float: left;
	list-style: none;

	padding-left: 30px;
}
#navigator ul li a{
	font-size: 20px;
	text-decoration: none;
	color: white;

	margin-top: 20px;
	padding: 20px;
}
#navigator ul li a:hover{
	background-color: #FFFA94;
	color: #FF3399;
}

#navilogo{
	position: absolute;
	top: 54%;
	border: 1px solid;
	
	width: 10%;
	margin-left: 8%;
}

#workspace{

	width: 93%;
	height: 100%;
	margin: auto;
	margin-left: 2.9%;
}

.content{
	float: left;
	border: 1px solid;

	width: 35%;
	height: 90%;
	margin-top: 3%;
	margin-right: 2.7%;
}

#news{
	float: right;
	border: 1px solid;

	width: 23%;
	height: 100%;
	margin-top: 3%;
}

#footer{
	float: left;
	background-color: #555;
	color: white;
	box-sizing: border-box;

	width: 100%;
	height: 10%;
	margin: 0px;
	margin-top: 20px;
}
