/* style.css */
html{
	box-sizing: border-box;

	height: 100%;
}

body{
	background-color: #36FF87;
	font-family: impact;
	font-size: 18px;
	box-sizing: content-box; 

	width: 100%;
	margin: 0px;
}

#header{
	background-color: #777;
	box-sizing: border-box;

	height: 45px;
	width: 100%
}

#login{
	padding-top: 15px;
	margin-right: 38px;
}
#login a{
	float: right;
	color: white;
	text-decoration: none;

	margin-right: 20px;
}

#banner{
	box-sizing: border-box;
	border: 1px solid;
	
	width: 93%;
	height: 45%;
	position: relative;
	margin: auto;
	margin-right: 38px;
	margin-left: 38px;
}

#bff{
	font-size: 50px;
	color: #FF0F6E;

	position: absolute;
	top: 45%;
	left: 30%;
	margin: 0px;
	text-align: center;
}

#navigator{
	background-color: #47B294;
}
#navigator ul{
	line-height: 50px;

	width: 50%;
	height: 50px;
	margin: 0px;
	margin-left: 300px;
}
#navigator ul li{
	float: left;
	list-style: none;

	height: 40px;
}
#navigator ul li a{
	font-size: 20px;
	text-decoration: none;
	color: white;

	margin-top: 20px;
	padding: 20px;
}
#navigator ul li a:hover{
	background-color: #36FF87;
	color: #FF3399;
}

#navilogo{
	border: 1px solid;
	
	width: 120px;
	margin-left: 100px;
}

#workspace{
	border: 1px solid;

	width: 90%;
	height: 60%;
	margin: auto;
}

.content{
	float: left;
	border: 1px solid;

	width: 370px;
	height: 80%;
	margin-left: 33px;
}

#news{
	float: right;
	border: 1px solid;

	width: 300px;
	height: 80%;
}

#footer{
	clear: left;
	background-color: #555;
	color: white;
	box-sizing: border-box;

	width: 100%;
	height: 10%;
	margin: 0px;
}